*{
    margin: 0;
    padding: 0;
  }

  body {
      background-color: hsl(216, 15%, 94%);
  }

  p {
      font-size: 12px;
      color: hsl(0, 0%, 31%);
  }
  
  a {
      font-size: 12px;
      color: hsl(204, 100%, 39%);
      text-decoration: none;
  }

  /*
  ========================================
  Nav
  ========================================
*/

  nav  {
      width: auto;
      height: 60px;
      background: red;

      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  }

  #top-div {
      width: 293px;
      height: 36px;
      margin-right: 30px;
      background: honeydew;

      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
  }

  #A {
      width: 171px;
      margin: 0;
  }

  .sing-in {
      width: 171px;
      height: 18px;
  }

  .id-pasword {
      width: 171px;
      height: 14px;
  }

  #B {
    margin: 0;
}

  /*
  ========================================
 Header
  ========================================
*/

  header {
      width: auto;
      height: 75px;

      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  header img {
      width: 165px;
      height: 80px;
  }
  /*
  ========================================
Main
  ========================================
*/

  main {
      width: auto;
      height: 812px;
      background: greenyellow;
  }