* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(216, 15%, 94%);
}

p {
  font-size: 12px;
  color: hsl(0, 0%, 31%);
}

a {
  font-size: 12px;
  color: hsl(204, 100%, 39%);
  text-decoration: none;
}

/*
    ========================================
    Nav
    ========================================
  */

nav {
  width: auto;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#top-div {
  width: 293px;
  height: 36px;
  margin-right: 30px;
  text-align: left;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#A {
  width: 171px;
  text-align: right;
}

.sing-in {
  width: 171px;
  height: 18px;
}

.id-pasword {
  width: 171px;
  height: 14px;
}

#button-nav {
  width: 103px;
  height: 34px;
  margin-right: 10px;
  padding: 0 16px;
  background-color: hsl(204, 100%, 39%);
  border-color: hsl(0, 0%, 30%);
  border-radius: 4px;
  color: hsl(0, 0%, 100%);
  font-size: 13.5px;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
}

#lock {
  width: 11px;
  height: 14px;
  margin-right: 10px;
  margin-top: 2px;
}

/*
    ========================================
   Header
    ========================================
  */

header {
  width: auto;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 165px;
  height: 80px;
}

/*
  ========================================
  Main
  ========================================
  */

main {
  width: auto;
  height: 812px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-header {
  height: 42px;
}

#form-ul {
  list-style: none;
  display: flex;
}

#form-ul li {
  margin: 5px;
  font-size: 20px;
  color: hsl(0, 0%, 46%);
}

.img-icon {
  width: 25px;
  height: 25px;
}

/* form */

#form {
  width: 380px;
  height: 675px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 78%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-header {
  width: 318px;
  height: 98px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#form-header-div {
  width: 318px;
  height: 52px;
  color: hsl(0, 0%, 30%);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
  padding: 20px 0 0;
}

h2 {
  color: hsl(0, 0%, 30%);
  font-size: 24px;
  line-height: 26.4px;
  margin-top: 5px;
}

.p-1 {
  font-size: 14px;
  font-weight: 300;
  line-height: 16.8px;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.form-label {
  width: 320px;
  height: 34px;
  margin: 10px;
  border-radius: 4px;
  font-size: 1em;
  color: hsl(0, 0%, 25%);
}

.ipt {
  border: 1px solid hsl(206, 6%, 77%);
}

.icon {
  background-image: url(/img/lock-gray.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: right;
}

#button-form {
  width: 322px;
  height: 44px;
  border: 1px solid #0077c5;
  margin-top: 20px;
  text-transform: capitalize;
  font-size: 1.1em;
  color: white;
  text-align: center;
  border-radius: 4px;
  background-color: #0077c5;
  cursor: pointer;
}

#footer-form {
  width: 273px;
  height: 56px;
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-style: italic;
}

.span-3 {
  font-size: 12px;
  color: hsl(0, 0%, 46%);
}

#form-section {
  width: 346px;
  height: 21px;
  background-color: hsl(216, 15%, 94%);
  font-size: 14px;
  line-height: 15px;
  margin: 48px -30px -30px;
  padding: 16px;
  text-align: center;
}

.span-1 {
  font-size: 10px;
  color: hsl(220, 4%, 57%);
}

.a-1 {
  font-size: 10px;
}

/* footer */
footer {
  width: 1214px;
  height: 99px;
}

#footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-li {
  margin: 0 10px;
  color: hsl(0, 0%, 31%);
  font-size: 12px;
  line-height: 18px;
}

.a-li {
  color: hsl(0, 0%, 31%);
  font-size: 12px;
  margin: 0 10px;
  line-height: 18px;
  text-align: center;
}

.span-2 {
  width: 702px;
  height: 32px;
  color: hsl(0, 0%, 31%);
  font-size: 12px;
  text-align: center;
}

#ul-div-span {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main Button */

#button-main {
  width: 124px;
  height: 41px;
  border-radius: 4px;
  border: none;
  margin-top: 20px;
  font-size: 14px;
  color: white;
  text-align: center;
  background-color: hsl(0, 0%, 45%);
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 1100px;
}
